nav {
    background-color: #0AA1DD;
}

nav a.title {
    font-family: 'Lexend', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: bold;
    display: block;
}

nav a.title:hover {
    color: #79DAE8;
}

.container {
    padding-top: 50px;
}

.container .title {
    padding-top: 20px;
    font-weight: bolder;
    color: #0AA1DD;
}

.container .date {
    padding-top: 8px;
    color: gray;
}

.back a.btn:hover {
    background-color: #79DAE8;
    color: white;
}
