nav {
    background-color: #0AA1DD;
}

nav a.title {
    font-family: 'Lexend', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: bold;
    display: block;
}

nav a.title:hover {
    color: #79DAE8;
}

.first {
    margin-top: 100px;
    font-family: 'Lexend', sans-serif;
    background-color: white;
}

.first h1 {
    font-size: 60px;
    font-weight: bolder;
    color: #0AA1DD;
}

.first p {
    font-size: 24px;
    color: #79DAE8;
}

.first .left {
    padding-top:  clamp(100px, 5%, 50px);
}

.first img.foto-profil {
    max-width: 100%;
    max-height: 100%;
}

.first .left .socmed {
    padding-top: 20px;
}

.second {
    font-family: 'Lexend', sans-serif;
    background-color: #79DAE8;
    color: white;
    margin-top: -2px;
    display:block;
}

.second .container {
    padding-top: 120px;
    padding-bottom: 120px;
}

.second .container h2 {
    font-size: 48px;
    font-weight: bolder;
}

.img-me {
    padding-top: 80px;
}

.img-me .icon p{
    padding-top: 20px;
    font-size: 32px;
}

.icon a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 12px;
}

.icon:hover {
    background-color: #39D3EA;

}

.third {
    font-family: 'Lexend', sans-serif;
    margin-top: 150px;
    display:block;
    margin-bottom: 150px;
}

.third h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #0AA1DD;
}

.third .img-tech .row .col-sm-4.col-md-2{
    padding-top: 80px;
}

.fourth {
    font-family: 'Lexend', sans-serif;
    background-color: #79DAE8;
    color: white;
    display:block;
    padding-top: 100px;
    padding-bottom: 200px;
}

.fourth img.contact {
    max-width: 100%;
    max-height: 100%;
}

.fourth .text-contact {
    padding-top: 150px;
}

.fourth .text-contact h2 {
    font-size: 48px;
    font-weight: bolder;
}

.fourth .text-contact p {
    font-size: 32px;
}

.fourth .text-contact .btn {
    background-color: #0AA1DD;
    border-radius: 4px;
}

.fourth .text-contact .btn p{
    font-size: 20px;
    margin-bottom: 0px;
}

.fourth .text-contact .btn:hover {
    color: white;
}

