body {
    font-family: 'Lexend', sans-serif;
}
nav {
    background-color: #0AA1DD;
}

nav a.title {
    font-size: 40px;
    color: white;
    font-weight: bold;
    display: block;
}

nav a.title:hover {
    color: #79DAE8;
}

.head {
    padding-top: 60px;
    padding-bottom: 60px;
    color: #0AA1DD;
}

.head h1 {
    font-weight: bolder;
    font-size: 60px;
}

hr {
    border: 4px solid #0AA1DD;
    opacity: 100%;
    margin-bottom: 40px;
}

.body {
    padding-bottom: 100px;
}

.body .card {
    margin-bottom: 20px;
}

.body .card h5 {
    font-weight: bolder;
    font-size: 32px;
    color: #0AA1DD;
}

.body .card p {
    font-size: 20px;
    color: #79DAE8;
}
.body .card .btn {
    background-color: #0AA1DD;
    color: white;
}

.body .card .btn:hover {
    background-color: #79DAE8;
    color: white;
}

