{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frigas Zalwi Landing Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet"  href="{%  static  'css/detail_blog.css'  %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid justify-content-center">
          <a class="navbar-brand title" href="{% url 'index' %}">Frigas Zalwi</a>
        </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="back">
            <a class="btn" href="{% url 'blog' %}">Back</a>
          </div>
          <h1 class="title">{{blog.title}}</h1>
          <p class="date">{{blog.date_published}}</p>
            
          <div class="body">
            <p>{{blog.body}}</p>
          </div>
        </div>
      </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>