{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frigas Zalwi Landing Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet"  href="{%  static  'css/main.css'  %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid justify-content-center">
          <a class="navbar-brand title" href="{% url 'index' %}">Frigas Zalwi</a>
        </div>
    </nav>

    <div class="container first justify-content-center">
      <div class="row ">
        <div class="col-12 col-md-6 left">
          <h1>Hello, I am Frigas</h1>
          <p>I am from Bekasi, Indonesia. I am an Undergraduate Student at Computer Science Fasilkom UI. Now, I am interested in programming, for example, full-stack website developer and business intellegence analyst. Moreover, I like to write many stories about my life. Besides that, I like to follow news about social politics in Indonesia.</p>
          <div class="row socmed">
            <div class="col-1 col-lg-3">
            </div>
            <div class="col-3 col-lg-2">
              <a href="https://www.linkedin.com/in/frigas-zalwi-a574a917a/" target="_blank">
                <img class="mx-auto d-block" src="{%  static  'img/first/linkedin.png'  %}" alt="linkedin" width="50">
              </a>
            </div>
            <div class="col-3 col-lg-2">
              <a href="https://www.instagram.com/han_zalwi4/" target="_blank">
                <img class="mx-auto d-block" src="{%  static  'img/first/ig.png'  %}" alt="instagram" width="50">
              </a>
            </div>
            <div class="col-3 col-lg-2">
              <a href="https://medium.com/@hanzalwi" target="_blank">
                <img class="mx-auto d-block" src="{%  static  'img/first/medium.png'  %}" alt="instagram" width="50">
              </a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <img class="foto-profil mx-auto d-block" src="{%  static  'img/head.png'  %}" alt="Frigas Hanifyan Zalwi" >
        </div>
      </div>
    </div>

    <div class="second">
      <div class="container">
        <h2 class="text-center">Know More About Me</h2>
        <div class="row img-me text-center">
            <div class="col-12 col-md-4">
              <div class="icon">
                <a href="https://drive.google.com/file/d/1N_7LseFNGoFoqONflZ49iPI11W3bMMD8/view" target="_blank">
                  <div class="block-me">
                    <img class="mx-auto d-block" src="{%  static  'img/cv.png'  %}" alt="cv">
                    <p>cv</p>
                  </div>
                </a>
              </div>
              
            </div>
            <div class="col-12 col-md-4">
              <div class="icon">
                <a href="{% url 'project' %}">
                  <div class="block-me">
                    <img class="mx-auto d-block" src="{%  static  'img/project.png'  %}" alt="project">
                    <p>project</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="icon">
                <a href="{% url 'blog' %}">
                  <div class="block-me">
                    <img class="mx-auto d-block" src="{%  static  'img/blog.png'  %}" alt="blog">
                    <p>blog</p>
                  </div>
                </a>
              </div>
            </div>
          
        </div>
      </div>
    </div>

    <div class="third">
      <div class="container">
        <h2 class="text-center">Tech Stack</h2>
        <div class="img-tech">
          <div class="row">
            <div class="col-sm-4 col-md-2">
              <img class="mx-auto d-block" src="{%  static  'img/tech-stack/python.png'  %}" alt="blog" width="100">
            </div>
            <div class="col-sm-4 col-md-2">
              <img class="mx-auto d-block" src="{%  static  'img/tech-stack/java.png'  %}" alt="blog" width="100">
            </div>
            <div class="col-sm-4 col-md-2">
              <img class="mx-auto d-block" src="{%  static  'img/tech-stack/django.png'  %}" alt="blog" width="100">
            </div>
            <div class="col-sm-4 col-md-2">
              <img class="mx-auto d-block" src="{%  static  'img/tech-stack/springboot.png'  %}" alt="blog" width="100">
            </div>
            <div class="col-sm-4 col-md-2">
              <img class="mx-auto d-block" src="{%  static  'img/tech-stack/pgsql.png'  %}" alt="blog" width="100">
            </div>
            <div class="col-sm-4 col-md-2">
              <img class="mx-auto d-block" src="{%  static  'img/tech-stack/mysql.png'  %}" alt="blog" width="100">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-md-2">
              <img class="mx-auto d-block" src="{%  static  'img/tech-stack/html.png'  %}" alt="blog" width="100">
            </div>
            <div class="col-sm-4 col-md-2">
              <img class="mx-auto d-block" src="{%  static  'img/tech-stack/css.png'  %}" alt="blog" width="100">
            </div>
            <div class="col-sm-4 col-md-2">
              <img class="mx-auto d-block" src="{%  static  'img/tech-stack/js.png'  %}" alt="blog" width="100">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fourth">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <img class="contact mx-auto d-block" src="{%  static  'img/contact.png'  %}" alt="blog">
          </div>
          <div class="col-12 col-md-6">
            <div class="text-contact">
              <h2>Contact Me</h2>
              <p>If you are interested in working with me</p>
              <a href="https://wa.me/6281314198229" target="_blank">
                <button type="button" class="btn btn-lg"><p>Whatsapp</p></button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>