{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frigas Zalwi Landing Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet"  href="{%  static  'css/project.css'  %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid justify-content-center">
          <a class="navbar-brand title" href="{% url 'index' %}">Frigas Zalwi</a>
        </div>
    </nav>

    <div class="head">
        <div class="container">
            <h1 class="text-center">Project</h1>
        </div>
    </div>

    <div class="container">
        <hr>
    </div>

    <div class="body">
        <div class="container">
            <div class="row">
                {% for obj in project %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
						<img src="{{obj.image.url}}" class="card-img-top" alt="...">
						<div class="card-body">
						  <h5 class="card-title">{{obj.title}}</h5>
						  <p class="card-text">{{obj.body}}</p>
						  <a href="{{obj.link}}" class="btn" target="_blank">Visit link</a>
						</div>
					</div>
                </div>
                    
                {% endfor %}
            </div>
        </div>
    </div>
    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>